@font-face{
    font-family: "tomcat";
    src: url("assets/TOMCAT\ DEMO.otf")
}
@font-face {
    font-family: "dyslexia";
    src: url("assets/OpenDyslexic-Regular.otf");
}
@font-face {
    font-family: "shimmering";
    src: url("/assets/shimmering\ TTF.ttf");
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
    font-family: "dyslexia";
}
h1{
    font-family: "tomcat";
}