body{
    background-color:#EFE5D1;
    min-width: 100vw;
    min-height: 100vh;
    cursor: url("assets/cursor.png"), auto;
    font-family: "ripeMango"
}

.discord{
    max-width: 60px;
    margin-bottom:.5rem;
    transition: transform .2s;
    z-index: 7;

}

.discord:hover{
    transform: scale(1.2);
}

.rules{
    max-width: 200px;
    transition: transform .2s;
}
.plugins{
    max-width: 200px;
    transition: transform .2s;
}

.rules:hover{
    transform:scale(1.5)
}

.plugins:hover{
    transform:scale(1.5)
}
@font-face{
    font-family: "tomcat";
    src: url("assets/TOMCAT\ DEMO.otf")
}
@font-face {
    font-family: "dyslexia";
    src: url("assets/OpenDyslexic-Regular.otf");
}
@font-face {
    font-family: "shimmering";
    src: url("/assets/shimmering\ TTF.ttf");
}
@font-face {
    font-family: "ripeMango";
    src: url("assets/RipeMango-Regular.ttf")
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
    font-size: 3.5rem;
    font-family: "ripeMango";
}
h1{
    font-size: 2.5rem;
    font-family: "ripeMango";
}
tr{
    color: rgb(135, 131, 131);
}

#minecraft {
    color: #FFFF00;
    font-size: 1.5em;
    font-family:'minecraftfont';
    text-shadow:3px 3px #3F3F00;
    padding: 5px;
    position:absolute;
    top: -90px;
    left: 100px;
    z-index: 1;
}
.pop {
    animation: pop 0.58s infinite;
    -webkit-animation: pop 0.58s infinite;
}
@keyframes pop {
    from {
        transform:scale(0.95)
    }
    50% {
        transform:scale(1)
    }
    to {
        transform:scale(0.95)
    }
}
@-webkit-keyframes pop {
    from {
        -webkit-transform:scale(0.95)
    }
    50% {
        -webkit-transform:scale(1)
    }
    to {
        -webkit-transform:scale(0.95)
    }
}
.tilt {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
@font-face {
    font-family:'minecraftfont';
    src: url('assets/Minecraftia-Regular.ttf');
}